@model WEBSGI.Models.NoConformidad
@{
    Layout = null; // Se carga dentro del modal
    ViewBag.Title = "Modificar Oportunidad Mejora";
}

@{
    bool esAdministrador = Session["NIVEL"] != null && Session["NIVEL"].ToString() == "ADMINISTRADOR";
}
<style>


    /* Estilo general para el modal */
    .modal-content {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 800px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }


    .modal-header {
        border-bottom: 2px solid #f0f0f0;
        padding-bottom: 15px;
    }

    .modal-body {
        font-size: 16px;
        color: #333;
    }

    h2.text-center {
        color: #333;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

        .form-group label {
            font-weight: bold;
            color: #444;
        }

    .form-control {
        border-radius: 6px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 14px;
        padding: 10px;
        width: 100%;
        transition: border-color 0.3s ease;
    }

        .form-control:focus {
            border-color: #007BFF;
            outline: none;
        }

    .btn-primary {
        background-color: #007BFF;
        border-color: #007BFF;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 6px;
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 6px;
        cursor: pointer;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
            border-color: #545b62;
        }

    .modal-footer {
        text-align: center;
        margin-top: 20px;
    }

        .modal-footer .btn {
            width: 120px;
        }

    .modal-backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }
</style>
<div class="container">
    <h2 class="text-center">Modificar Oportunidad Mejora</h2>
    @using (Html.BeginForm("ActualizarNoConformidad", "OportunidadMejora", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ID)

        <!-- 1. Número y Fecha -->
        <div class="form-group row">
            <div class="col-md-6">
                <label>Número</label>
                @Html.TextBoxFor(m => m.NUMERO, new { @class = "form-control", @readonly = !esAdministrador })
            </div>
            <div class="col-md-6">
                <label>Fecha</label>
                @Html.TextBoxFor(m => m.FECHA, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", @readonly = !esAdministrador })
            </div>
        </div>

        <!-- 2. ISO -->
        <div class="form-group row">
            <div class="col-md-6 ">
                <label>ISO</label>
                @Html.DropDownList("NormaId", ViewBag.Normas as SelectList, "Seleccione una norma", new { @class = "form-control", @disabled = !esAdministrador })
            </div>
            <div class="col-md-6">
                <label>Tipo</label>
                @Html.DropDownListFor(m => m.NC,
                    new SelectList(new List<string> { "MENOR", "MAYOR" }, Model.NC),
                    "Seleccione un tipo...", new { @class = "form-control", @disabled = !esAdministrador })
            </div>
        </div>

        <!-- 3. Refiere a Sector y Punto de la Norma -->
        <div class="form-group row">
            <div class="col-md-6">
                <label>Refiere a Sector</label>
                @Html.TextBoxFor(m => m.REFIEREASECTOR, new { @class = "form-control", @readonly = !esAdministrador })
            </div>
            <div class="col-md-6">
                <label>Punto de la Norma</label>
                @Html.TextBoxFor(m => m.PROCEDIMIENTO, new { @class = "form-control", @readonly = !esAdministrador })
            </div>
        </div>

        <!-- 4. Origen -->
        <div class="form-group">
            <label>Origen</label>
            @Html.DropDownListFor(m => m.ORIGEN,
        new SelectList(new List<string> { "AUDITORIA INT.", "RECLAMOS", "AUDITORIA EXT." }, Model.ORIGEN),
        "Seleccione...", new { @class = "form-control", @disabled = !esAdministrador })
        </div>

        <!-- 5. Descripción -->
        <div class="form-group">
            <label>Descripción</label>
            @Html.TextAreaFor(m => m.DESCRIPCION, new { @class = "form-control", rows = 3, @readonly = !esAdministrador })
        </div>

        <!-- 6. Acción -->
        <div class="form-group">
            <label>Acción</label>
            @Html.TextAreaFor(m => m.CAUSAACCIONINMEDIATA, new { @class = "form-control", rows = 3, @readonly = !esAdministrador })
        </div>

        <!-- 7. Responsable -->
        <div class="form-group">
            <label>Responsable de la Ejecución y Seguimiento</label>
            @Html.TextBoxFor(m => m.ACCIONRESPONSABLE, new { @class = "form-control", @readonly = !esAdministrador })
        </div>

        <!-- 8. Plazo de Cierre y Cerrada en Fecha -->
        <div class="form-group row">
            <div class="col-md-6">
                <label>Plazo de Cierre</label>
                @Html.TextBoxFor(m => m.PLAZOCIERRE, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", @readonly = !esAdministrador })
            </div>
            <div class="col-md-6">
                <label>Cerrada en Fecha</label>
                @Html.DropDownListFor(m => m.ACCIONCERRADAENFECHA,
                    new SelectList(new List<string> { "SI", "NO" }),
                    "Seleccione...", new { @class = "form-control", @disabled = !esAdministrador })
            </div>
        </div>

        <!-- 9. Estado y Observaciones -->
        <div class="form-group row">
            <div class="col-md-6">
                <label>Estado</label>
                @Html.DropDownListFor(m => m.ESTADO,
                    new SelectList(new List<string> { "ABIERTA", "CERRADA", "ANULADA" }),
                    "Seleccione...", new { @class = "form-control", @disabled = !esAdministrador })
            </div>
            <div class="col-md-6">
                <label>Observaciones</label>
                @Html.TextAreaFor(m => m.OBSERVACIONES, new { @class = "form-control", rows = 3, @readonly = !esAdministrador })
            </div>
        </div>

        <!-- Botones -->
        if (esAdministrador)
        {
            <div class="form-group text-center">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                @*<button type="button" class="btn btn-secondary btn-cancel">Cancelar</button>*@
            </div>
        }
    }
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(".btn-cancel").click(function () {
        $("#nonConformidadModal").modal("hide");
    });
</script>
<script>
    $(document).ready(function () {
        var esAdmin = @esAdministrador.ToString().ToLower(); // Convierte el valor a `true` o `false`

        if (esAdmin) {
            $(".form-control").prop("readonly", false);
            $(".form-control").prop("disabled", false);
        }
    });
</script>
